* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: auto;
    align-items: center;
    justify-content: center;
    height: 125vh;
    width: 50%;
    border-radius: 10px;
    border: 1px solid #f9f9f9;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
}

nav {
    width: 100%;
    display: flex;
    align-self: start;
    font-size: 20px;
}

nav .navbar img {
    cursor: pointer;
}

nav input {
    width: 100%;
    border-radius: 10px;
    padding: 10px;
}

.navbar {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav .navbar:nth-child(1) {
    flex-grow: 1;
}

nav .navbar:nth-child(2) {
    flex-grow: 200;
}

nav .navbar:nth-child(3) {
    flex-grow: 1;
}

main {
    display: block;
    text-align: center;
}

.mensagens {
    padding: 20px;
    margin: 30px;
    border-radius: 20px;
    border: 1px solid #f6f6f6;
    background-color: #f6f6f6;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.mensagens p {
    margin: 10px;
}

.mensagens:hover {
    background-color: rgb(233, 233, 233);
}

.mensagens img {
    display: flex;
    align-items: start;
}
